@{
    ViewData["Title"] = "Fishing";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="text-center">
            <h1 class="display-3">Fishing</h1>
            <h2 class="display-6">Be back when I get one...</h2>

            <div class="image-container">
                <img class="image" src="~/images/grabFish_50.jpeg" alt="Image of fish"/>
                <img class="image" src="~/images/fish_50.jpg" alt="Image of fish"/>
            </div>

            <div class="text-center">
            <br />
            <p>
                Welcome, friends! Whether you're a seasoned or just dipping your toes into the world of fishing, you've stumbled upon the right place. 
                Fishing, an age-old pursuit that blends patience, skill, and a touch of luck, beckons us to the serene waters, promising an escape from the hustle and bustle of daily life.
                If you've ever found yourself casting more curses than lines, you're in good company. As the self-proclaimed master of the tangled line and the unintentional splash, I've turned fishing into a full-blown performance art. 
                But fear not, fellow angler enthusiasts! While I may not guarantee a boatload of fish, I can promise you an ocean of laughter and a few fishy tales to tell.
            </p>
            <br />

            <div class="image-container">
                <img class="image" src="~/images/alaskaFish.jpeg" alt="Image of fish" />
            </div>
            <br />

            <p>
                Now, let's talk about the fish—in the room. You might be wondering, "Can this girl really teach me how to fish?" Well, let me put it this way: after a summer of fishing with me, I can guarantee you'll catch at least half a fish. 
                That's right, folks, half a fish! Whether it's due to my impeccable teaching skills or simply the law of averages, you'll walk away with a fishy souvenir and a newfound appreciation for the absurdity of angling. 
                So, if you're ready to dive headfirst into the depths of fishing folly, grab your gear and let's make some waves!
            </p>
            </div>

        </div>
    </body>
</html>


